<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- 
    슬라이드 내보내기 작업 경로 
    (* 프로그램 내부적으로 쓰는 Work ID를 이용 하위 디렉토리 생성 후 내보내기가 된 슬라이드 파일들이 저장됨)
    (** 빈 값이거나 존재하지 않는 디렉토리인 경우 이 프로그램이 실행되는 경로로 지정됨!)
    -->
    <add key="SlideExportDirectoryPath" value="" />
    

    
    
    
    
    <!-- ///////////////////////////////////////////////////////////////////////// -->
    <!-- 이 부분 수정시 올바르지 않은 동작을 야기할 수 있습니다. -->
    <!-- 웹서버 포트번호 -->
    <add key="SingleServerPortNo" value="80" />
    <!-- 웹 주소 접속시 사용하게 되는 디렉토리 이름 -->
    <add key="SingleServerRootDirectoryName" value="SlideShow" />
    <!--
    << SingleServer >>
    슬라이드 쑈를 컨트롤 하기 위한 프로그램 내부 웹 서버로써 위 2가지 설정에 따른 동작을 하게 됨
    즉 포트번호가 80이고 루트 디렉토리 이름이 SlideShow인 경우 접속 주소는 아래와 같다.
    http://IP/SlideShow
    (** 만약 포트번호가 80이 아닌 다른 번호인 경우 "IP:PORT"가 됨)    
    
    이 서버로 인해 Vista부터는 UAC에 영향을 받게 됨
    그로인해 현재까지(2014-01-08) 실행 방법으로는 다음과 같다
    
    (** 순서는 차례대로가 아닌 방법론의 구분임)    
    1. 파워포인트와 이 프로그램을 관리자 권한으로 실행해야 함
    2. 웹 주소 정보를 시스템에 등록한다
    (
      * 1회성 등록
      ** CMD를 관리자 권한으로 실행 후 다음의 명령을 실행.
    
      형식: netsh http add urlacl url=[URL 매핑 정보] user=[Application 실행 계정]
      등록 예: netsh http add urlacl url=http://+:80/SlideShow/ user="SeongTae Jeong"           
      삭제 예 : netsh http delete urlacl url=http://+:80/SlideShow/     
    )
    3. UAC를 끈다 (정말 비권장!!!)    
    -->
    <!-- ///////////////////////////////////////////////////////////////////////// -->
  </appSettings>
</configuration>
