html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {margin:0; padding:0; -webkit-text-size-adjust:100%; vertical-align:top;}
body, input, textarea, select, button, table {font-size:14px; font-family:NanumGothic, Malgun Gothic, dotum, sans-serif; line-height:1.2;}
img, fieldset {border:0; vertical-align:top;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
a { text-decoration:none;}
a:hover, a:active, a:focus {text-decoration:underline;}
button {cursor:pointer;}
.blind {overflow:hidden; visibility:hidden; position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0;}
table {width:100%; border-collapse:collapse; border-spacing:0;}
hr {display:none;}
.ir span {display:block; overflow:hidden; position:relative; z-index:-1; height:11px; font-size:11px;}
header, hgroup, footer, section, article, nav, canvas, figure, figcaption {display:block;}
